.sr-only {
  /* source: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */

  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

:root {
  --translate-skew: -50%;
  --translate-y-img: 120px;
}

/* styling and fixed rules */
body {
  font-family: "Poppins", Arial, sans-serif;
}

header h1,
main h1 {
  font-size: 1.9rem;
  color: hsl(94, 98%, 40%);
}

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  background-color: hsl(94, 98%, 40%);
  box-shadow: inset -5px 0px 5px 0px rgba(0, 0, 0, 0.3);
  height: 550px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-10deg);
  translate: 0 var(--translate-skew);
  z-index: -1;
}

#bio > p {
  color: hsl(0, 0%, 23%);
}

#avatar {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px hsla(0, 0%, 0%, 0.2);
}

.bio-links {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.blog {
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
  text-decoration: none;

  img {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }

  & > div {
    padding: 15px;
  }

  .title {
    color: hsl(0, 0%, 0%);
    font-size: 1.3rem;
    font-weight: 500;
  }

  .description {
    color: hsl(0, 0%, 50%);
  }
}

footer {
  background-color: hsl(0, 0%, 97%);
}

footer address {
  font-style: normal;
}

footer h2 {
  font-size: 1.6rem;
}

footer h2 + p {
  font-style: italic;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer address li {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer address li:nth-child(n + 1) {
  margin-top: 5px;
}

/* screen size-dependent */
header,
main,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

header {
  padding-top: 15px;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#bio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#bio h1 {
  margin-top: 5px;
  text-align: center;
}

#bio p {
  max-width: 400px;
}

header .bio-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
}

main h1 {
  text-align: center;
  padding-bottom: 15px;
}

#blog-list {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.blog {
  max-width: 500px;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer address {
  text-align: center;
}

footer address h2 {
  margin-bottom: 5px;
}

footer address ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .bio-links {
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 16px;
}

@media (min-width: 600px) and (max-width: 1049px) {
  header,
  main,
  footer {
    padding-left: 35px;
    padding-right: 35px;
  }

  header {
    padding-top: calc(var(--translate-y-img) + 20px);
    display: grid;
  }

  #bio {
    justify-self: center;
    display: block;
    padding: 15px 20px 20px 15px;
    width: clamp(400px, 80%, 600px);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
    border-radius: 20px;
  }

  #avatar {
    float: left;
    width: 150px;
    transform: scale(1.6);
    transform-origin: bottom right;
    margin: 0 20px 10px 0;
  }

  #bio h1 {
    text-align: initial;
    margin-top: initial;
  }

  #bio p {
    max-width: 100%;
  }

  header .bio-links {
    margin-top: 10px;
  }

  main h1 {
    text-align: initial;
  }

  #blog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  footer address {
    text-align: initial;
  }

  footer .bio-links {
    margin-top: 16px;
    justify-content: start;
  }
}